.app-area {
  padding: 10rem 0;

  &__title {
    @include font-dm-sans(5rem, 1.1em);
    margin: 1rem 0;
    @media all and (max-width: 768px) {
      @include font-dm-sans(3rem, 1.1em);
    }
  }

  &__mobile {
    text-align: center;
    max-width: 23.75rem;

    &--mobile-only {
      display: none;
      @media all and (max-width: 768px) {
        display: block;
        max-width: 85%;
      }
    }

    @media all and (max-width: 768px) {
      display: none;
      max-width: 75%;
    }
  }

  //   boxes
  &__boxes {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    @media all and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__box {
    border: 2px solid #e8e8e8;
    padding: 2rem;
    border-radius: 1rem;
  }

  &__box-title {
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  &__box-desc {
    margin: 0;
    @include font-dm-sans(1rem);
  }
}
